/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #002000bb, #002100aa),
    url("/img/gym-background.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .buttons {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.heroImage {
  padding: 1.8em;
  border-radius: 50%;
  background: #eeffffaa;
  backdrop-filter: blur(5px);
  filter: drop-shadow(0 0 50px #000000ee);
}
